{% extends 'base.html' %}


{% block content %}
<div class="container ">
  <div class="row gy-3 my-3">
    {% for posting in posting %}
      <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="card" style="width: 18rem;">
            <img src="{{posting.image.url}}" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title" >{{posting.judul}}</h5>
                <small>{{posting.date}}</small>
                <p class="card-text" >{{posting.konten}}</p>
                <a href="#" class="btn btn-primary" >More</a>
            </div>
          </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
    
